/*------------------------ GENERAL --------------------------------- */
*{
	margin: 0;
	padding: 0;
	box-sizing : border-box;
	font-family: 'Gayathri', sans-serif;
}

.center-title{
	text-align: center;
}

.titres-page{
    position: absolute;
    z-index: 10;
    background-color: white;
    opacity: 0.7;
    width: 30%;
    padding: 1%;
    margin: 1%;
}

.titres-page h3, h4{ 
    color: #e59cb0;
}

.titres-page h4{
    margin-top: 50px;
}

.card-body{
    text-align: center;
}

.card{
    margin: 10px;
    transition: 0.6s;
}

.card:hover{
    box-shadow: 2px 2px 5px black;
}

input{
    padding: 10px;
}

/*------------------------ HEADER --------------------------------- */

header{
	position: relative;
}

nav{
	display: flex;
    justify-content: space-between;
}

nav ul{
	display: flex;
}

#memberAccess{
  display: flex;
}

#cancelSubscribeButtons{
  display : flex;
}

#infoSession{
	display: flex;
}

#helloMember{
	margin-top: 15px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

#helloAdmin{
	margin-top: 15px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

#place h3 {
    margin-top: 100px;
}

/*------------------------ BOUTONS --------------------------------- */

#subscribeMember{
	display: none;
}

#cancelMemberSubscription{
	display: none;
}

#memberAccess {
    display: none;
}

#memberSubscription{
	display: none;
}

#cancelMemberAccess {
    display: none;
}

.btn.btn-primary a{
    color: white;
    text-decoration: none;
    height: 60px;
}

/* ----------------------------------------- Accueil ------------------------------ */

#carouselExampleControls{
	margin-bottom:50px;
}

#first-center-title{
    margin-top: 100px;
    text-align: center;
}

.topPlaces, .topWeddingplanners, .helperTypesIndex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.weddingplanners-view, .helpers-view, .places-view{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 50px;
}

.helpers-view{
  	margin-top: 200px;
}

/* ----------------------------------------- PAGE PRESENTATION LIEUX DE RECEPTION/ WEDDING-PLANNER/ PRESTATAIRES ------------------------------ */

.presentationOnePage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentationOnePageLeft{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.presentationOnePageLeft img{
    width: 400px;

}

.presentationOnePageRight{
    width: 60%;
}

.presentationOnePageRight{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color:#e59cb0;
    margin: 10%;
    padding: 5%;
    color: white;
}

.presentationOnePageRight a{
    color : white;
    text-decoration: none;
}

.presentationOnePageRight a:hover{
    color : black;
}

.helpersType-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 200px;
}

/* ----------------------------------------- FILTRES ------------------------------ */

.radio-list p{
    text-align: center;
}

.radio-list{
    margin-top: 30px;
    text-align: center;
}

.category-filter{
    margin : 2%;
    text-align: center;
}

.category-filter p{
    text-align: center;
}

.places-filter, .weddingplanners-filter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.weddingplanners-filter{    
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.places-filter{
    margin-top: 50px;
}

/* ----------------------------------------- PAGINATION ------------------------------ */

.pagination{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.pagination a{
    margin: 2%;
}

/* ----------------------------------------- PAGE LIEUX DE RECEPTION------------------------------ */

#map {
    height: 1000px;
    width: 80%;
    margin: auto;
    z-index: 1;
    box-shadow: 1px 2px 5px;
}

#map_container {
    display: flex;
    margin-top: 300px;
}

#mapSide {
    width: 50%;
    height: 1000px;
    display: none;
    border: 2px solid #e59cb0;
    border-radius: 10px;
    background-color: white;
    position: relative;
    animation: mapSide 0.4s ease-in;
    box-shadow: 1px 2px 5px #e59cb0;
}

@keyframes mapSide {
    from {
        left: -500px;
    }

    to {
        left: 0;
    }
}

#placeImage, #placeName{
    text-align: center;
}

#placeImage img{
    width: 300px;
}

#placePresentation{
    text-align: justify;
    margin: 2%;
    font-size: 1em;
}

.fas.fa-times {
    position: relative;
    left: 94%;
    margin-top: 2px;
    background-color: #e59cb0;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------------------------- FORMULAIRE CREATION NOUVEAU CONTENU ------------------------------ */

#newAdminPage{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#newMemberPage {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

#memberProfil h3{
    margin-top: 100px;
    margin-bottom: 50px;
}

#memberPlaces, #memberWeddingplanners, #memberHelpers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----------------------------------------- FORMULAIRE MISE A JOUR CONTENU ------------------------------ */

.update-form, .create-form{
    margin-bottom: 100px;
}

.cancel-update, .cancel-create{
    margin-left: 5%;
    width: 50%;
}

.form{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 20px;
}

/* ----------------------------------------- PAGE SUPPRESSION CONTENU------------------------------ */

.delete-page{
    margin-top: 250px;
}

.delete-buttons{
    text-align: center;
    margin-top: 50px;
}

.delete-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.delete-content img{
    width: 300px;
    margin-bottom: 50px; 
}

.delete-content p{
    margin-bottom: 50px;
}

/* -------------------------------------------- FOOTER ----------------------------------- */

footer{
	background-color: #e59cb0;
	padding-top: 30px;
	padding-bottom: 10px;
	color: white;
	padding-left: 5%;
	padding-right: 5%;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 5px 10px black;
}

footer span {
    margin-left: 20px;
}

footer a {
    text-align: center;
    width: 100%;
    color: white;
    cursor: pointer;
}

#contact h1{
    color : white;
}

#social ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social ul li{
    margin: 3%;
}

#social p{
    text-align: center;
}
/* -------------------------------------------- PAGE ERREUR ----------------------------------- */

#error_message h1{
	margin: 0 auto;
	text-align: center;
	margin-top: -25%;
	color: white;
	font-size: 3em;
}

#error_image{
    width: 100%;
    height: 100%;
}

/* -------------------------------------------- RESPONSIVE DESIGN ----------------------------------- */

@media screen and (max-width : 1200px) {
    #placePresentation{
        font-size: 0.9em;
    }
}

@media screen and (max-width : 1000px) {
    #map{
        width: 100%;
        height: 600px;
    }
    #map_container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    #mapSide{
        width: 100%;
        margin: 0 auto;
    }
    #placePresentation{
        font-size: 0.8em;
    }
}

@media screen and (max-width : 1200px) {
    .presentationOnePage{
        flex-direction: column;
        margin-top: 150px;
    }
    .presentationOnePageRight {
        width: 100%;
    }
}

@media screen and (max-width : 800px) {
    header .titres-page{
        position: relative;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 30px;;
        margin-bottom: 30px;;
    }
}

@media screen and (min-width : 425px) and (max-width : 800px) {
    #contact {
        width: 100%;
        text-align: center;
    }

    footer h1 {
        margin-left: 0px;
    }

    #contact p {
        margin-left: 0px;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width : 425px) {
    #contact {
        width: 100%;
        text-align: center;
    }

    footer h1 {
        margin-left: 0px;
    }

    #contact p {
        margin-left: 0px;
    }

    footer {
        flex-direction: column;
    }

    .presentationOnePageLeft img{
        width: 300px;
    }
}
