*{
	margin: 0;
	padding: 0;
	box-sizing : border-box;
	font-family: 'Gayathri', sans-serif;
}

.hide{
	display: none;
}

/*------------------------ HEADER --------------------------------- */

header{
	position: relative;
}

nav{
	display: flex;
    justify-content: space-between;
}

nav ul{
	display: flex;
}

#memberAccess{
  display: flex;
}


#cancelSubscribeButtons{
  display : flex;
}



#infoSession{
	display: flex;
}

#helloMember{
	margin-top: 15px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

#helloAdmin{
	margin-top: 15px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.fullwidth{
	width: 100%;
}

#titre_principal{
	margin: 0 auto;
	text-align: center;
	margin-top: -25%;
	margin-bottom: 25%;
}

#titre_principal h1, h2{
	color: white;
}

#place h3 {
    margin-top: 100px;
}

.titres-page{
    position: absolute;
    z-index: 10;
    background-color: white;
    opacity: 0.7;
    width: 30%;
    padding: 3%;
    margin-top: 5%;
    margin-left: 3%;
}

.titres-page h3, h4{ 
    color: #e59cb0;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width : 800px) and (max-width : 1200px) {
	#titre_principal h1, h2{
		font-size: 1.7em;
	}
}

@media screen and (min-width : 425px) and (max-width : 800px) {
	#titre_principal h1, h2{
		font-size: 1em;
	}
}

@media screen and (max-width : 425px) {
	#titre_principal h1, #titre_principal h2{
		font-size: 0.8em;
		margin-top: -5%;
	}
}

/*------------------------ MISE EN FORME BOUTONS --------------------------------- */

#subscribeMember{
	display: none;
}

#cancelMemberSubscription{
	display: none;
}

#memberAccess {
    display: none;
}

#memberSubscription{
	display: none;
}

#cancelMemberAccess {
    display: none;
}

/* ----------------------------------------- CARTE LIEUX DE RECEPTION------------------------------ */

#map {
    height: 800px;
    width: 80%;
    margin: auto;
    z-index: 1;
    box-shadow: 1px 2px 5px;
}

#map_container {
    display: flex;
}

#mapSide {
    width: 50%;
    height: 800px;
    display: none;
    border: 2px solid #e59cb0;
    border-radius: 10px;
    background-color: white;
    position: relative;
    animation: mapSide 0.4s ease-in;
    box-shadow: 1px 2px 5px #e59cb0;
}

@keyframes mapSide {
    from {
        left: -500px;
    }

    to {
        left: 0;
    }
}

#placeImage, #placeName{
    text-align: center;
}

#placeImage img{
    width: 300px;
}

#placePresentation{
    text-align: justify;
    margin: 2%;
}

.fas.fa-times {
    position: relative;
    left: 94%;
    margin-top: 2px;
    background-color: #e59cb0;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.presentationOnePage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentationOnePageLeft{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.presentationOnePageLeft img{
    width: 400px;
}

.presentationOnePageRight{
    width: 60%;
}

.presentationOnePageRight p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color:#e59cb0;
    margin: 10%;
    padding: 5%;
    color: white;
}

.helpersType-view{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.card-body{
    text-align: center;
}

/* ----------------------------------------- Accueil ------------------------------ */
#carouselExampleControls{
	margin-bottom:50px;
}

.center-title{
	text-align: center;
}

.topPlaces, .topWeddingplanners, .helperTypesIndex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.weddingplanners-view, .helpers-view, .places-view{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 50px;
}

.places-filter{
	display: flex;
    justify-content: center;
}

/* -------------------------------------------- FOOTER ----------------------------------- */

footer{
	background-color: #e59cb0;
	padding-top: 30px;
	padding-bottom: 10px;
	color: white;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
    box-shadow: 10px 5px 10px black;
}

footer span {
    margin-left: 20px;
}

footer a {
    text-align: center;
    width: 100%;
    color: white;
    cursor: pointer;
}

#social {
    width: 70%;
}

#social p {
    text-align: center
}

#social ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 10px;
    justify-content: center;
}

#social li {
    margin-right: 40px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width : 425px) and (max-width : 800px) {
    #contact {
        width: 100%;
        text-align: center;
    }

    footer h1 {
        margin-left: 0px;
    }

    #contact p {
        margin-left: 0px;
    }

    #social {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width : 425px) {
    #contact {
        width: 100%;
        text-align: center;
    }

    footer h1 {
        margin-left: 0px;
    }

    #contact p {
        margin-left: 0px;
    }

    #social {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
}

/* -------------------------------------------- PAGE ERREUR ----------------------------------- */

#error_message{
	margin: 0 auto;
	text-align: center;
	margin-top: -25%;
	color: white;
	font-size: 3em;
}